.classinfo {
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	flex-direction: column;
}

.classinfo__text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.classinfo__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	width: 80%;
	margin: 15px;
	padding-top: 30px;
	padding-bottom: 15px;
	border-top: 2px solid rgb(220, 220, 220);
}

.classinfo__block > h4 {
	font-weight: 600;
	margin-top: 10px;
}

.classinfo__block > p {
	margin-block-start: 1em;
	margin-block-end: 0.5em;
	margin-inline-start: 1em;
}

.classinfo__block > Button {
	align-self: center;
	border-radius: 20px;
	border-color: black;
	margin-top: 30px;
}

.classinfo__block > Button:hover {
	background-color: black;
	color: white;
}

.classinfo__italic {
	font-style: italic;
	font-weight: 300;
	text-align: center;
}
