.classinfo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.classinfo__text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.classinfo__block {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	text-align: left;
	width: 80%;
	margin: 15px;
	border-top: 2px solid rgb(200, 200, 200);
}
