.home {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.home > Button {
	border-color: black;
	border-radius: 20px;
}

.home > Button:hover {
	background-color: black;
	color: white;
}

.home__cover {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
}

.home__cover > img {
	width: 10rem;
}

.home__text {
	border: 1px solid black;
	padding: 5px 10px 5px 5px;
	margin: 30px;
}

.home__text > p {
	font-weight: 400;
	margin-block-start: 1em;
	margin-block-end: 0.5em;
	margin-inline-start: 1em;
}

/* .home__text > p {
	margin-left: 20px;
} */

.home__textCenter {
	text-align: center;
	font-style: italic;
}
