.title__cover {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 40vh;
}

.title__cover > h4 {
	font-weight: 200;
	margin-top: 15px;
}

.title__cover > img {
	width: 10rem;
}
